@charset "UTF-8";
/**
 *
 * @authors 陈小雪 (shell_chen@yeah.net)
 * @date    2015-06-09 11:52:41
 * @version $Id$
 */
body{
    font: normal 100% Helvetica, Arial, sans-serif;
    min-width: 1250px;
    height: 100%;
    margin: 0;
    background-color: #e6e6e6;
}
.wapper{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.menu-div{
}
.menu-list-link{
    font-size: 16px;
}
#page{
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    width: 1120px;
    min-width: 560px;
    background-color: #fff;
    min-height: 800px;
    border-bottom-color: #444;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: #444;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: #444;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: #444;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(100, 100, 100, 0.298039) 0px 2px 6px 0px;
}

.cls-l-span{
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 4px;
}
.cls-desc-span{
    font-size: 18px;
    color: #0f0f0f;
}
.customer-row{
    margin: 0;
}
.m-t-4{
    margin-top: 40px;
}
.m-b-2{
    margin-bottom: 20px;
}
.border-left{
    border-right: solid 2px #bebebe;
    min-height: 700px;
}
.content-page{
    padding: 40px 20px;
}
